body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  height: 100vh;
  background-image: url("https://images.axios.com/Ncum0mab2_QcP4-32MKwCK8NnrI=/0x0:1920x1080/1920x1080/2021/06/25/1624638968140.jpg");
  background-size: cover;
  overflow: hidden;
}
